
body {
    width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("kaarten.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.kader-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    max-width: 700px;
    width: 90%;
    padding: 35px;
    font-size: 1.2em;
    line-height: 1.2em;
    background-color: #EAF1F5;
    border: 0.5px solid lightblue;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 20px auto;
}

h3 {
    color: black;
    font-size: 1.5em;
    margin-bottom: 20px;
    opacity: 0.8;
    font-family: cursive;
    text-align: center;
}

label{
    padding: 25px 0px;
}


input {
    background-color: white;
    width: 100%;
    max-width: 500px;
    height: 2.5em;
    padding: 1.5em 2em;
    margin-top: 5px;
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid blue;
    box-sizing: border-box;
}

::placeholder {
    color: grey;
    font-size: 1.2em;
}


#submit {
    background-color: lightblue;
    color: black;
    font-size: 1em;
    padding: 0.6em 2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#submit:hover {
    background-color: darkgrey;
    color: white;
}

@media (max-width: 600px) {
    .kader-body {
        padding: 20px;
        width: 95%;
    }

    h2 {
        font-size: 1.5em;
    }

    input {
        padding: 0.5em;
        font-size: 0.9em;
    }

    #submit {
        padding: 0.5em 1.5em;
        font-size: 0.9em;
    }
}
