*{
    margin: 0px;
    padding: 0px;
    color:black;
}

body{
    width: 1100px;
    height: 700px;
    display: flex;
    background-image: url("kaarten.jpg");
    background-image: no-repeat;
 }

.header{
    color: orangered ;
}

.header{
    margin-top: 35px;
    margin-left: 25px;
}
a{
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 9px;
    background-color: rgba(238, 89, 79, 0.2);
    margin-top: 25px;
}

.start-div{
    margin-top: 150px;
    margin-left: 400px;
}
.score-rij {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 14px;
  margin-bottom: 6px;

  border-radius: 6px;
  background-color: #ee594f;
  color: white;
  font-size: 22px;
  font-weight: 500;
  width: 500px;
}

.score-rij span:last-child {
  font-weight: bold;
  color: white;
}

#vuurwerkCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* zodat het niet de klikbare elementen blokkeert */
  z-index: 9999;
  background: transparent;
}

h2{
    font-size: 35px;
    margin-left: 0px;
    padding: 60px;
    border: 2px solid red;
    border-radius: 8px;
    background: blue;
    animation: mymove 3s infinite;
}
 

@keyframes mymove {
  0% {background-color: lightyellow;}
  25% {background-color: orange;}
  50% {background-color: red;}
  75% {background-color: orange;}
  100% {background-color: lightyellow;}
  
}

#copy{
    margin: 5px 3px 3px 300px;
    padding: 5px;
    background-color: white;
}