body{
    width: 1100px;
    height: 700px;
    display: flex;
    background-image: url("kaarten.jpg");
    background-image: no-repeat;
 }

 .border-veld{
    margin-top:5%;
 }

 .kader-body{
   display: flex;
   align-items: center;
   justify-content: center;
    height: 550px;
    padding: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 0.9em;
    background-color: #EAF1F5;
    justify-content: flex-end;
    border: 0.5px solid lightblue;
    border-radius: 5px;
    margin-left: 500px;
 }

 h2{
   color: black;
   margin-top: 50px;
   margin-left: 75px;
   opacity: 0.8;
   font-family: cursive;
 }

::placeholder{
   color: grey;
   font-size: 1.4em;
}

 input{
    background-color: white;
    height: 2.3em;
    width: 350px;
    padding-left: 100px;
 }

 #aantalslagenresultaat1,#aantalslagenresultaat2,#aantalslagenresultaat3,#aantalslagenresultaat4{
   color: black;
   font-size: 1em;
 }

 #fname{
    font-size: 0.9em;
    padding-left: 15px;
    line-height: 0.5em;
    border-bottom: 0.8px solid blue;
    
 }
 
 
 #submit-resultaat{
   background-color: lightblue;
   font-size: 1em;
   padding: 0px 220px;
 }

 #submit-resultaat:hover{
   color: black;
   background-color: darkgrey;
 }

 @media only screen and (max-width: 600px){
    body{
        width: 100%;
        height: 100%;
        display: flex;
        background-image: url("kaarten.jpg");
        background-image: no-repeat;
     }
     .kader-body{
         width: 40%;
         height: 100%;
         padding: 15px;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 1.2em;
         line-height: 0.9em;
         background-color: #EAF1F5;
         justify-content: center;
         border: 0.5px solid lightblue;
         border-radius: 5px;
         margin-left: 0%;
     }
   }