 
body {
    display: flex;
    justify-content: center;  
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url("kaarten.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}


.border-veld {
    margin-top: 5%;
}

.onderwerp-kader {
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.onderwerp2-kader {
    margin-top: 55px;
    font-family: 'Courier New', Courier, monospace;
}


hr {
    border: 1px solid red;
}


.startkader-body {
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 600px;
    padding: 35px;
    font-size: 1.2em;
    line-height: 1.2em;
    background-color: #EAF1F5;
    border: 0.5px solid lightblue;
    border-radius: 5px;
    box-sizing: border-box;   
    margin: 50px auto;      
}


@media (max-width: 600px) {
    .startkader-body {
        width: 90%;         
        height: auto;        
        padding: 20px;
        margin: 20px auto;
    }

    .onderwerp2-kader {
        margin-top: 30px;   
    }

    .onderwerp-kader {
        margin-top: 10px;
    }
}
